header {
    background-color: #444444;
    width: 100%;
    height: 15%;
    position: absolute;
    top: 0;
    left: 0;
    
}

/* .margin {
    background-color: #D8D8D8;
    width: 50px;
    height: 100%;
} */

#margin-left {
    background-color: #D8D8D8;
    width: 15%;
    height: 85%;
    position: absolute;
    top: 15%;
    left: 0;
}

#margin-right {
    background-color: #D8D8D8;
    position: absolute;
    width: 15%;
    height: 85%;
    position: absolute;
    top: 15%;
    right: 0;
}


footer {
    background-color: black;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}