.top {
    border: 6px solid black;
    width: 95%;
    height: 250px;
    margin: 30px auto;
}

#purple-box {
    height: 155px;
    width: 50px;
    background-color: #9620EB;
    margin-top: 85px;
    margin-left: 10px;
    margin-bottom: 25px;
    display: inline-block;
}

#green-box {
    height: 220px;
    width: 450px;
    background-color: green;
    margin-bottom: 25px;
    margin-left: 40px;
    display: inline-block;
}

#blue-dot {
    height: 220px;
    width: 220px;
    background-color: #6ED0EF;
    display: inline-block;
    border-radius: 50%;
    margin-left: 50px;
    margin-bottom: 25px;
}

.middle{
    border: 5px dotted black;
    margin: 30px auto;
    width: 95%;
    height: 350px;
} 

#yellow-rectangle {
    height: 250px;
    width: 80%;
    margin: 45px auto;
    background-color: #FFFAC7;
    box-shadow: 7px 7px 5px 5px black;
}

.bottom {
    border: 1px solid lightgrey;
    height: 200px;
    width: 450px;
    margin: auto;
    box-shadow: 3px 3px 1px 1px lightgrey;
    text-align: center;
    padding-top: 150px;
    font-size: 32px;
    color: navy;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 10px;
    font-weight: bold;
} 